.SideBar{
    background-color:lightcyan;
    width: 15%;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin: 15px 0;
    border: 5px solid #3C68BB;
    border-left: 0;
}

.logo-img{
    width: 100%;
}

.logo{
    width: 100%;
}

.pokemon-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
}

.pokemon-list li button{
    font-family: 'Carter One', cursive;
    padding: 10px;
    font-size: 22px;
    text-transform:uppercase;
    color:#FAC706;
    background:none;
    border: none;
    font-weight: bold;
    cursor: pointer;
    text-shadow: 4px 1px 2px #3C68BB;
    letter-spacing: 3px;
}

.pokemon-list li button:hover{
    color:#3C68BB ;
    text-shadow: 4px 1px 2px #FAC706;
}