.SideBar{
    background-color: whitesmoke;
    width: 300px;
    padding: 20px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    margin-top: 15px;
    border: 5px solid #3C68BB;
    border-left: 0;
}

.logo-img{
    width: 100%;
}

.logo{
    width: 100%;
}

.pokemon-list{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    font-size: 22px;
    font-weight: bold;
}

.pokemon-list li{
    margin: 6px;
    cursor: pointer;
    text-transform: uppercase;
    text-align: justify;
    color:#FAC706;
}